<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>リズムのゲームをプレイ</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">写真</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/15.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								3Dリズムゲームをする様子
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">背景と目的</strong><br>
				私だけの能力を強化しストレスを解くためです。
			</div>
			<div class="contents">
				<strong class="title1">能力を強化した過程</strong><br>
				まずチュートリアルを受けてから、曲のレベルを上げてプレイする作業を繰り返しました。 このようにして、「クラスは簡単でクラスは難しい」と思われたとき、その曲を集中的に練習しました。 もし、間違いを続けている部分があれば、どうすれば間違えないのか悩みました。 このように練習を続けてミスが10％以下に減ったら、また曲のレベルを上げて練習しています。
			</div>
			<div class="contents">
				<strong class="title2">強化された能力</strong><br>
					<ul>
						<li> <strong>瞬発力</strong>：今後のスティックをタイミングよくタッチすることで強化されました。</li>
						<li> <strong>集中力</strong>：ゲーム中に集中する過程で強化されました。</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">追加の説明</strong>
					<ul>
						<li>リズムゲーム：今後の棒を音楽の拍子に合わせてタッチするゲームです。 最も代表的には、エンターテインメントゲーム「ポンプイットアップ」があります。</li>
						<li>エンターテインメントリズムゲーム、PCリズムゲームなど、さまざまなリズムゲームがありますが、私は主にモバイルリズムゲームをプレイしています。</li>
					</ul>
			</div>
		</div>
	</body>
</html>