<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../css/styleToView.css">
		<title>수상 경력</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">수상 경력</strong><br>
				<ul class="lists">
					<li><strong class="classification">Computer Science</strong>
						<ul>
							<li><strong>메타버스 기반 핀테크 해커톤: 장려상</strong> [2021.12.13]
								<br>정의: Unity로 메타버스 서비스를 개발한 후 발표하는 대회였습니다.
								<br>역할: Young IT 팀에서 메타버스 서비스 개발(Unity 프로그래밍, 서버 및 데이터베이스 구축, 음성 및 영상 통신 시스템 구축, 결제 시스템 구축 등)을 총괄적으로 담당하였습니다.
							</li>
							<li><strong>군포e비즈니스고등학교 e-디지털콘텐츠과 프로젝트 발표회: 우수상</strong> [2012.10.23]
								<br>정의: NXT LEGO MINDSTORM으로 로봇을 제작한 후 발표하는 대회였습니다.
								<br>역할: 팀에서 로봇 프로그램 개발(RobotC 프로그래밍)을 총괄 담당하였습니다.
							</li>
							<li><strong>경기도 상업정보능력경진대회 e-biz솔루션분야: 장려상</strong> [2012.06.14]
								<br>정의: HTML, CSS, JavaScript를 이용해서 제한 시간 안에 홈페이지를 잘 개발하는지 평가하는 대회였습니다.
							</li>
							<li><strong>군포e비즈니스고등학교 스크래치작품발표회: 우수상</strong> [2011.09.29]
								<br>정의: Scratch로 게임을 개발한 후 발표하는 대회였습니다.
								<br>역할: 전반적으로 게임을 개발하였습니다.
							</li>
						</ul>
					</li>
					<li><strong class="classification">The Others</strong>
						<ul>
							<li><strong class="classification">Personality</strong>
								<ul>
									<li><strong>경기도교육감 표창장</strong> [2012.08.22]
										<br>정의: 학업 뿐만 아니라, 대회 수상, 봉사 활동, 자격증 취득 등 꾸준히 자기 개발을 하고, 품행이 단정할 정도로 성실해서 표창장을 받았습니다.
									</li>
									<li><strong>광명시의회의장 표창장</strong> [2014.02.12]
										<br>정의: 학업 뿐만 아니라, 대회 수상, 봉사 활동, 자격증 취득 등 꾸준히 자기 개발을 하고, 품행이 단정할 정도로 성실해서 표창장을 받았습니다.
									</li>
								</ul>
							</li>
							<li><strong class="classification">Document Creation</strong>
								<ul>
									<li><strong>군포e비즈니스고등학교 경진대회 파워포인트부문: 장려상</strong> [2012.12.27]
										<br>정의: 제한 시간 안에 파워포인트로 문서 작성을 잘 하는지 평가하는 대회였습니다.
									</li>
								</ul>
							</li>
							<li><strong class="classification">English</strong>
								<ul>
									<li><strong>군포e비즈니스고등학교 영어말하기대회: 최우수상</strong> [2012.11.26]
										<br>정의: 제한 시간 안에 유창성 있게 영어로 말하는지 평가하는 대회였습니다.
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>