<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../css/styleToView.css">
		<title>Awards</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">Awards</strong><br>
				<ul class="lists">
					<li><strong class="classification">Computer Science</strong>
						<ul>
							<li><strong>Metaverse-based Fintech Hackathon: 3rd Place</strong> [2021.12.13]
								<br>Definition: It was a contest to announce a metaverse service after developing it with Unity.
								<br>Role: In this contest, I was in charge of metaverse service development in Young IT team (Unity programming, server and database construction, voice and video communication system construction, payment system construction, etc.).
							</li>
							<li><strong>Gunpo e-Business High School e-Digital Contents Project Presentation: 2nd Place</strong> [2012.10.23]
								<br>Definition: It was a contest to announce a robot after building it with NXT LEGO MINDSTORM.
								<br>Role: In this contest, I was in charge of robot program development in my team (RobotC programming).
							</li>
							<li><strong>Gyeonggi-do Commercial Information Competency Contest e-biz Solution Field: 3rd Place</strong> [2012.06.14]
								<br>Definition: It was a contest to evaluate whether or not I can develop a website well within limited time using HTML, CSS, and JavaScript.
							</li>
							<li><strong>Gunpo e-Business High School Scratch Artwork Presentation: 2nd Place</strong> [2011.09.29]
								<br>Definition: It was a contest to announce a game after developing it with Scratch.
								<br>Role: I developed the game overall.
							</li>
						</ul>
					</li>
					<li><strong class="classification">The Others</strong>
						<ul>
							<li><strong class="classification">Personality</strong>
								<ul>
									<li><strong>Citation from Gyeonggi-do Superintendent of Education</strong> [2012.08.22]
										<br>Definition: In addition to studying, I continued to develop myself by winning contests, volunteering, and acquiring certifications, and was awarded a citation for my sincerity and integrity.
									</li>
									<li><strong>Citation from the Gwangmyeong City Council Chairman</strong> [2014.02.12]
										<br>Definition: In addition to studying, I continued to develop myself by winning contests, volunteering, and acquiring certifications, and was awarded a citation for my sincerity and integrity.
									</li>
								</ul>
							</li>
							<li><strong class="classification">Document Creation</strong>
								<ul>
									<li><strong>Gunpo e-Business High School Contest Powerpoint Category: 3rd Place</strong> [2012.12.27]
										<br>Definition: It was a contest to evaluate whether or not I can write a document in PowerPoint within limited time.
									</li>
								</ul>
							</li>
							<li><strong class="classification">English</strong>
								<ul>
									<li><strong>Gunpo e-Business High School English Speech Contest: 1st Place</strong> [2012.11.26]
										<br>Definition: It was a contest to evaluate whether or not I can speak English fluently within limited time.
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>