<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../css/styleToView.css">
		<title>受賞歴</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">受賞歴</strong><br>
				<ul class="lists">
					<li><strong class="classification">Computer Science</strong>
						<ul>
							<li><strong>メタバスベースのピンテックハッカソン：3rd Place</strong> [2021.12.13]
								<br>定義：Unityでメタバスサービスを開発した後で発表する大会でした。
								<br>役割：Young ITチームでメタバスサービスの開発（Unityプログラミング、サーバーとデータベースの構築、音声およびビデオ通信システムの構築、決済システムの構築など）を総括的に担当しました。
							</li>
							<li><strong>群浦eビジネス高校でe-デジタルコンテンツ課でプロジェクトの発表会：2nd Place</strong> [2012.10.23]
								<br>定義：NXT LEGO MINDSTORMでロボットを製作した後で発表する大会でした。
								<br>役割：チームでロボットプログラム開発（RobotCプログラミング）を総括的に担当しました。
							</li>
							<li><strong>京畿道の商業情報の能力の競技大会でe-bizソリューション分野：3rd Place</strong> [2012.06.14]
								<br>定義：HTML、CSS、JavaScriptを使って制限の時間の内にホームページをうまく開発するかどうかを評価する大会でした。
							</li>
							<li><strong>群浦eビジネス高校でスクラッチの作品の発表会：2nd Place</strong> [2011.09.29]
								<br>定義：スクラッチでゲームを開発した後で発表する大会でした。
								<br>役割：全体的にゲームを開発しました。
							</li>
						</ul>
					</li>
					<li><strong class="classification">The Others</strong>
						<ul>
							<li><strong class="classification">Personality</strong>
								<ul>
									<li><strong>京畿道の教育監の表彰状</strong> [2012.08.22]
										<br>定義：学業だけでなく、大会で受賞、奉仕の活動、資格証を取得など着実に自己の開発を行い、品行が断定するほど誠実で表彰状を受けました。
									</li>
									<li><strong>光明の市議会議長の表彰状</strong> [2014.02.12]
										<br>定義：学業だけでなく、大会で受賞、奉仕の活動、資格証を取得など着実に自己の開発を行い、品行が断定するほど誠実で表彰状を受けました。
									</li>
								</ul>
							</li>
							<li><strong class="classification">Document Creation</strong>
								<ul>
									<li><strong>郡浦eビジネス高等学校で経進大会でパワーポイント部門：3rd Place</strong> [2012.12.27]
										<br>定義：制限の時間の内にパワーポイントで文書を作るのがうまくいくかを評価する大会でした。
									</li>
								</ul>
							</li>
							<li><strong class="classification">English</strong>
								<ul>
									<li><strong>群浦eビジネス高校で英語で話す大会：1st Place</strong> [2012.11.26]
										<br>定義：制限の時間の内に流暢に英語で話すかを評価する大会でした。
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>