<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../css/styleToView.css">
		<title>Certificates</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">Certificates</strong><br>
				<ul class="lists">
					<li><strong class="classification">Computer Science</strong>
						<ul>
							<li><strong>Engineer Information Processing</strong> [2018.08.17]
								<br>Strengthened Abilities: Comprehensive programming skills such as algorithms, C language, Java, and database (advanced)
							</li>
							<li><strong>Craftsman Web Design</strong> [2019.04.19]
								<br>Strengthened Abilities: Web page implementation using HTML, CSS, JavaScript, etc. and icon design using Photoshop
							</li>
						</ul>
					</li>
					<li><strong class="classification">The Others</strong>
						<ul>
							<li><strong class="classification">Design</strong>
								<ul>
									<li><strong>Craftsman Computer Graphics Operation</strong> [2020.12.31]
										<br>Strengthened Abilities: Poster design using Photoshop, Illustrator, InDesign, etc.
									</li>
								</ul>
							</li>
							<li><strong class="classification">Document Creation</strong>
								<ul>
									<li><strong>Computer Specialist in Spreadsheet & Database Level-Ⅰ</strong> [2019.06.28]
										<br>Strengthened Abilities: Document creation using Excel and Access (Advanced)
									</li>
									<li><strong>Word Processor Specialist</strong> [2016.08.12]
										<br>Strengthened Abilities: Document creation using Word (Intermediate)
									</li>
								</ul>
							</li>
							<li><strong class="classification">Commerce</strong>
								<ul>
									<li><strong>Computerized Accounting Qualification Standard Level</strong> [2016.04.28]
										<br>Strengthened Abilities: Accounting with KcLep
									</li>
								</ul>
							</li>
							<li><strong class="classification">English</strong>
								<ul>
									<li><strong>TOEIC Speaking in Korea 130</strong> [2022.03.26] <a href="proofs/ToeicSpeaking.png" target="_blank">[proof]</a>
										<br>Strengthened Abilities: Speaking in English
									</li>
									<li><strong>TOEIC Near 700</strong> [2015.08.09] 
										<br>Strengthened Abilities: Reading or Listening in English
									</li>
								</ul>
							</li>
							<li><strong class="classification">Japanese</strong>
								<ul>
									<li><strong>JLPT N2 in Korea</strong> [2019.01.20]
										<br>Strengthened Abilities: Reading or Listening in Japanese
									</li>
								</ul>
							</li>
							<li><strong class="classification">Working Out</strong>
								<ul>
									<li><strong>Windsurfing Leader Level-Ⅲ</strong> [2021.10.28]
										<br>Strengthened Abilities: Windsurfing
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>