<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../css/styleToView.css">
		<title>자격증 취득 사항</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">자격증 취득 사항</strong><br>
				<ul class="lists">
					<li><strong class="classification">Computer Science</strong>
						<ul>
							<li><strong>정보처리기사</strong> [2018.08.17]
								<br>강화 능력: 알고리즘, C언어, Java, 데이터베이스 등 종합적인 프로그래밍 능력 (고급)
							</li>
							<li><strong>웹디자인기능사</strong> [2019.04.19]
								<br>강화 능력: HTML, CSS, JavaScript 등을 이용한 웹페이지 구현 및 포토샵을 이용한 아이콘 디자인
							</li>
						</ul>
					</li>
					<li><strong class="classification">The Others</strong>
						<ul>
							<li><strong class="classification">Design</strong>
								<ul>
									<li><strong>컴퓨터그래픽스운용기능사</strong> [2020.12.31]
										<br>강화 능력: 포토샵, 일러스트레이터, 인디자인 등을 이용한 포스터 디자인
									</li>
								</ul>
							</li>
							<li><strong class="classification">Document Creation</strong>
								<ul>
									<li><strong>컴퓨터활용능력 1급</strong> [2019.06.28]
										<br>강화 능력: 엑셀과 엑세스를 이용한 문서 작성 (고급)
									</li>
									<li><strong>워드프로세서</strong> [2016.08.12]
										<br>강화 능력: 워드를 이용한 문서 작성 (중급)
									</li>
								</ul>
							</li>
							<li><strong class="classification">Commerce</strong>
								<ul>
									<li><strong>전산회계 2급</strong> [2016.04.28]
										<br>강화 능력: 케이랩(KcLep)을 이용한 회계 처리
									</li>
								</ul>
							</li>
							<li><strong class="classification">English</strong>
								<ul>
									<li><strong>TOEIC Speaking 130</strong> [2022.03.26] <a href="proofs/ToeicSpeaking.png" target="_blank">[proof]</a>
										<br>강화 능력: 영어로 말하기
									</li>
									<li><strong>TOEIC Near 700</strong> [2015.08.09] 
										<br>강화 능력: 영어로 읽거나 듣기
									</li>
								</ul>
							</li>
							<li><strong class="classification">Japanese</strong>
								<ul>
									<li><strong>JLPT N2</strong> [2019.01.20]
										<br>강화 능력: 일본어로 읽거나 듣기
									</li>
								</ul>
							</li>
							<li><strong class="classification">Working Out</strong>
								<ul>
									<li><strong>윈드서핑 지도자 3급</strong> [2021.10.28]
										<br>강화 능력: 윈드서핑 하기
									</li>
								</ul>
							</li>
							<li><strong class="classification">Driver's License</strong>
								<ul>
									<li><strong>2종오토</strong> [2020.11.02]
										<br>강화 능력: 자동변속기 승용차 운전
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>