<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>IT 대회 출전</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">사진</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/3.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								메타버스 대회에서 수상한 모습
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">배경과 목적</strong><br>
				개발 능력을 발휘하고 수상해서, 저에 대한 가치를 높이기 위해서 입니다.
			</div>
			<div class="contents">
				<strong class="title1">역량 강화 과정</strong><br>
				고등학생 때는 선생님이 추천해주신 적도 있었지만, 대학생 때는 제가 스스로 대회를 찾았습니다. 그러나 저 혼자서 대회를 찾기에는 한계가 있으므로 단톡방에 들어가서 대회 정보를 얻었습니다. 이렇게 대회를 찾을 때마다 적극적으로 대회에 나가서 제 역량을 발휘하였습니다.
			</div>
			<div class="contents">
				<strong class="title2">강화된 역량</strong><br>
					<ul>
						<li><strong>도전 정신, 열정</strong> : 연속적으로 대회에 나가는 과정을 통해서 강화되었습니다.</li>
						<li><strong>의사 소통 능력</strong> : 팀원들과 소통하면서 개발하는 과정을 통해서 강화되었습니다.</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">부연 설명</strong>
					<ul>
						<li>고등학교 1학년 때 ‘군포e비즈니스고등학교 스크래치 대회’에 출전한 것을 시작으로 여러 대회에 출전하였습니다.</li>
						<li><a href="../../Lists/awardsKR.html" target="_blank">수상 경력</a></li>
					</ul>
			</div>
		</div>
	</body>
</html>