<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>IT大会に出る</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">写真</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/3.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								メタバスの大会で受賞した様子
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">背景と目的</strong><br>
				開発能力を発揮し受賞して、私に対する価値を高めるためです。
			</div>
			<div class="contents">
				<strong class="title1">能力を強化した過程</strong><br>
				高校生の時は先生がオススメしてくれたこともありましたが、大学生の時は私が自分で大会を訪れました。 しかし、自分で大会を探すには限界があるので、ダントークルームに入って大会情報を得ました。 このように大会を探すたびに積極的に大会に出て、私の力量を発揮しました。
			</div>
			<div class="contents">
				<strong class="title2">強化された能力</strong><br>
					<ul>
						<li> <strong>挑戦精神、情熱</strong>：継続的に大会に出る過程を通じて強化されました。</li>
						<li> <strong>コミュニケーションスキル</strong>：チームメンバーとコミュニケーションしながら開発するプロセスを通じて強化されました。</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">追加の説明</strong>
					<ul>
						<li>高校1年生の時に「群浦eビジネス高校スクラッチ大会」に出場したことをはじめ、いくつかの大会に出場しました。</li>
						<li><a href="../../Lists/awardsJP.html" target="_blank">受賞歴</a></li>
					</ul>
			</div>
		</div>
	</body>
</html>