<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>
			Participating in IT contests
		</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">Photos</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/3.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								To have been awarded in a Metaverse Contest
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">Background and Purpose</strong><br>
				This is to show off my development capabilities and to increase my value to myself by winning awards.
			</div>
			<div class="contents">
				<strong class="title1">Process to have Strengthened Abilities</strong><br>
				When I was in high school, my teacher recommended it to me, but when I was in college, I found the contest on my own. However, there is a limit to finding the competition by myself, so I went to a group chat room and got information about the competition. Whenever I found a competition like this, I actively participated in the competition and showed my abilities.
			</div>
			<div class="contents">
				<strong class="title2">Strengthened Abilities</strong><br>
					<ul>
						<li><strong>Challenging spirit, enthusiasm</strong> : It has been strengthened through the process of consecutive competitions.</li>
<li><strong>Communication skills</strong> : It has been strengthened through the process of developing while communicating with team members.</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">Further Explanations</strong><br>
					<ul>
						<li>When I was in my freshman year of high school, I participated in the ‘Gunpo e-Business High School Scratch Contest’ and then participated in various competitions.</li>
						<li><a href="../../Lists/awardsEN.html" target="_blank">Awards</a></li>
					</ul>
			</div>
		</div>
	</body>
</html>