<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>
			Getting IT Certificates
		</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">Photos</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/6.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								To have collected my certifications so far
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">Background and Purpose</strong><br>
				This is to strengthen various abilities and increase the value of myself by getting certificates.
			</div>
			<div class="contents">
				<strong class="title1">Process to have Strengthened Abilities</strong><br>
				I am always thinking about what kind of certification I need to acquire to enhance my learning ability and strengthen my competency. After thinking like this, I start studying for certification. At this time, I buy the book because I have to download the summary and past questions from Google to study the notes without a book, and practice the actual writing as it is. At first, I practiced the first part of the previous exam by reading the book and following along. From then on, I tried to practice without looking at it as much as possible to memorize the first part of the previous exam. When you have memorized almost all of the first part of the previous exam, you strengthened your application ability by solving other previous questions. After studying like this, I passed all the written and practical skills, and was able to acquire the certification I wanted. For reference, when I take the certification exam, I tend to pass it almost at once.
			</div>
			<div class="contents">
				<strong class="title2">Strengthened Abilities</strong><br>
					<ul>
						<li><strong>Challenging spirit, enthusiasm</strong> : Reinforced through successive certification exams.</li>
<li><strong>Learning ability</strong> : It has been strengthened through the process of acquiring new knowledge and strengthening abilities.</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">Further Explanations</strong><br>
					<ul>
						<li>In the 6th grade of elementary school, I have acquired various certifications, starting with the ‘A level of Korean under the ITQ’.</li>
						<li><a href="../../Lists/licensesEN.html" target="_blank">Certificates</a></li>
					</ul>
			</div>
		</div>
	</body>
</html>