<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>IT 자격증 취득</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">사진</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/6.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								지금까지 딴 자격증을 모아둔 모습
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">배경과 목적</strong><br>
				여러 가지 능력을 강화하고 자격증을 취득해서, 저에 대한 가치를 높이기 위해서 입니다.
			</div>
			<div class="contents">
				<strong class="title1">역량 강화 과정</strong><br>
				항상 어떤 자격증을 취득해서 학습 능력을 강화하고 역량 강화를 해야할 지 고민합니다. 이렇게 고민한 후에 자격증 공부를 시작합니다. 이때, 필기는 책 없이 요약본과 기출 문제를 구글에서 다운 받아서 공부하고, 실기는 그대로 따라하면서 실습해야 하므로 책을 구입합니다. 처음에는 기출 문제 1회분을 책을 보고 그대로 따라하면서 실습하였습니다. 그 다음부터는 기출 문제 1회분을 외우기 위해 최대한 보지 않고 실습하려고 노력하였습니다. 기출 문제 1회분을 거의 다 외웠으면, 다른 기출 문제를 풀면서 응용력을 강화하였습니다. 이렇게 공부해서, 필기, 실기, 모두 합격하였고, 원하는 자격증을 취득할 수 있었습니다. 참고로, 저는 자격증 시험을 보면 거의 한 번에 합격하는 편입니다.
			</div>
			<div class="contents">
				<strong class="title2">강화된 역량</strong><br>
					<ul>
						<li><strong>도전 정신, 열정</strong> : 연속적으로 자격증 시험에 응시하는 과정을 통해서 강화되었습니다.</li>
						<li><strong>학습 능력</strong> : 새로운 지식을 습득하고, 능력을 강화하는 과정을 통해서 강화되었습니다.</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">부연 설명</strong>
					<ul>
						<li>초등학교 6학년 때 ‘ITQ 아래한글 A등급’을 취득한 것을 시작으로 여러 자격증을 취득하였습니다.</li>
						<li><a href="../../Lists/licensesKR.html" target="_blank">보유 자격증</a></li>
					</ul>

			</div>
		</div>
	</body>
</html>