<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>IT資格を取得</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">写真</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/6.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								これまでの資格を集めた様子
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">背景と目的</strong><br>
				さまざまな能力を強化し、資格を取って私に対する価値を高めるためです。
			</div>
			<div class="contents">
				<strong class="title1">能力を強化した過程</strong><br>
				常にどの資格を取得して学習能力を強化し、能力を強化する必要があるのか悩みます。 このように悩んだ後、資格の勉強を始めます。 この時、筆記は本なしで要約本と記出問題をグーグルでダウンロードして勉強し、実技はそのまま従いながら実習しなければならないので本を購入します。 最初は、出資問題1回分を本を見てそのまま従いながら実習しました。 それからは、出発問題1回分を覚えるために、できるだけ見ずに実習しようとしました。 記出問題 1回分をほぼ全部覚えたら、他の記出問題を解決しながら応用力を強化しました。 このように勉強して、筆記、実技、全て合格し、希望の資格を取得できました。 ちなみに、私は資格試験を見るとほぼ一度に合格する方です。
			</div>
			<div class="contents">
				<strong class="title2">強化された能力</strong><br>
					<ul>
						<li> <strong>挑戦精神、情熱</strong>：継続的に認定試験を受験する過程で強化されました。</li>
						<li> <strong>学習能力</strong>：新しい知識を習得し、能力を強化するプロセスを通じて強化されました。</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">追加の説明</strong>
					<ul>
						<li>小学校6年生の時、「ITQ Hangul Level-A」を取得したことを始め、複数の資格を取得しました。</li>
						<li><a href="../../Lists/licensesJP.html" target="_blank">資格取得</a></li>
					</ul>

			</div>
		</div>
	</body>
</html>