<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>
			Developing and Releasing Programs
		</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">Photos</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/1.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								To have released the developed program on the Play Store
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">Background and Purpose</strong><br>
				This is to strengthen my development capabilities and to promote my program.
			</div>
			<div class="contents">
				<strong class="title1">Process to have Strengthened Abilities</strong><br>
				My college classmates joined the campus conference and received help from seniors, but the difference is that I did programming on my own without any help from anyone. In this way, we developed the Android app, homepage, game, hardware, server, in that order. Of course, in the beginning, the program did not run as expected or there were a lot of errors. However, in order to solve these errors, the source code was first modified and then executed continuously. If this does not work, I searched for an error message on Google, researched a solution to the problem, and applied it to my program. However, when I fixed one error, another error popped up, and there were times when I solved it after continuing searching on Google. After so much trial and error, I was able to converge on a versatile developer by implementing almost all areas by myself.
			</div>
			<div class="contents">
				<strong class="title2">Strengthened Abilities</strong><br>
					<ul>
						<li><strong>Effectiveness, problem-solving ability</strong>: It has been strengthened through the process of implementing the program.</li>
<li><strong>Patience, concentration</strong> : It has been strengthened through the process of trying after thinking about how to solve the error.</li>
<li><strong>Inquisition</strong>: Contemplating how to implement the program, and searching on Google for information you don't know, has strengthened it.</li>
<li><strong>Learning ability</strong> : In order to develop new fields, it has been strengthened through the process of following video lectures while listening to video lectures and searching on Google for unfamiliar content.</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">Further Explanations</strong><br>
					<ul>
						<li>Some popular games have even been copyrighted with the Copyright Registration Committee.</li>
						<li><a href="https://play.google.com/store/apps/dev?id=7737310901106380929" target="_blank">Google Play</a></li>
						<li><a href="https://github.com/jhs951101" target="_blank">GitHub</a></li>
					</ul>
			</div>
		</div>
	</body>
</html>