<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>プログラムを開発した後でリリース</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">写真</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/1.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								開発したプログラムをプレイストアにリリースした様子
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">背景と目的</strong><br>
				開発能力を強化し、私のプログラムを知らせるためです。
			</div>
			<div class="contents">
				<strong class="title1">能力を強化した過程</strong><br>
				私の大学の動機は校内学会に加入して先輩の助けを受けましたが、私はその誰の助けも受けずに自分でプログラミングをしていったのが差別点です。そう、Androidアプリ、ホームページ、ゲーム、ハードウェア、サーバー、順番に開発を行ってきました。もちろん、最初はプログラムが望むように実行されなかったり、エラーが発生したことがとても多かったです。しかし、これらのエラーを解決するために、まずソースコードを修正して実行する作業を継続しました。これを行うことができない場合は、Googleでエラーメッセージで検索して問題解決方法を調査し、私のプログラムに適用しました。しかし、あるエラーを解決すると、別のエラーが浮かんでGoogleで検索を続けた最後に解決したこともありました。このように多くの試行錯誤を経た末に、ほぼすべての領域を自ら実装して、汎用性のある開発者に収束することができました。
			</div>
			<div class="contents">
				<strong class="title2">強化された能力</strong><br>
					<ul>
						<li> <strong>実装、問題解決能力</strong>：プログラムを実装するプロセスを通じて強化されました。</li>
						<li> <strong>忍耐力、集中力</strong>：エラーをどのように解決するかを考えた後、試すプロセスを通して強化されました。</li>
						<li> <strong>探索力</strong>：プログラムをどのように実装するかを考え、知らないことはGoogleで検索することで強化されました。</li>
						<li> <strong>学習能力</strong>：新しい分野を開発するために、ビデオレッスンを聞きながら、知らないことはGoogleで検索することで強化されました。</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">追加の説明</strong><br>
					<ul>
						<li>それなり人気のあるゲームは著作権登録委員会に著作権登録までしました。</li>
						<li><a href="https://play.google.com/store/apps/dev?id=7737310901106380929" target="_blank">Google Play</a></li>
						<li><a href="https://github.com/jhs951101" target="_blank">GitHub</a></li>
					</ul>
			</div>
		</div>
	</body>
</html>