<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>프로그램 개발 및 출시</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">사진</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/1.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								개발한 프로그램을 플레이스토어에 출시한 모습
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">배경과 목적</strong><br>
				개발 능력을 강화하고, 제 프로그램을 알리기 위해서 입니다.
			</div>
			<div class="contents">
				<strong class="title1">역량 강화 과정</strong><br>
				제 대학 동기들은 교내 학회에 가입해서 선배님들의 도움을 받았지만, 저는 그 누구의 도움도 받지 않고 스스로 프로그래밍을 해나간 것이 차별점입니다. 이렇게, 안드로이드 앱, 홈페이지, 게임, 하드웨어, 서버, 순서대로 개발을 해나갔습니다. 물론 처음에는 프로그램이 원하는 대로 실행되지 않거나 에러가 발생한 일이 굉장히 많았습니다. 하지만 이러한 오류를 해결하기 위해, 우선 소스 코드를 수정한 후 실행하는 작업을 연속적으로 하였습니다. 이렇게 해도 안 되면 구글에서 에러 메시지로 검색해서 문제 해결 방안을 조사한 후 제 프로그램에 적용하였습니다. 그러나 한 오류를 해결하면 또 다른 오류가 떠서 구글에서 계속 검색한 끝에 해결한 적도 있었습니다. 이렇게 많은 시행착오를 겪은 끝에 거의 모든 영역을 스스로 구현해서 다재다능한 개발자에 수렴할 수 있었습니다.
			</div>
			<div class="contents">
				<strong class="title2">강화된 역량</strong><br>
					<ul>
						<li><strong>구현력, 문제 해결 능력</strong> : 프로그램을 구현하는 과정을 통해서 강화되었습니다.</li>
						<li><strong>인내력, 집중력</strong> : 에러를 어떻게 해결할지 고민한 후 시도하는 과정을 통해서 강화되었습니다.</li>
						<li><strong>탐구력</strong> : 프로그램을 어떻게 구현할지 고민하고, 모르는 내용은 구글에서 검색하는 과정을 통해서 강화되었습니다.</li>
						<li><strong>학습 능력</strong> : 새로운 분야를 개발하기 위해, 동영상 강의를 들으면서 따라하고, 모르는 내용은 구글에서 검색하는 과정을 통해서 강화되었습니다.</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">부연 설명</strong><br>
					<ul>
						<li>나름 인기가 있는 게임은 저작권등록위원회에 저작권 등록까지 하였습니다.</li>
						<li><a href="https://play.google.com/store/apps/dev?id=7737310901106380929" target="_blank">Google Play</a></li>
						<li><a href="https://github.com/jhs951101" target="_blank">GitHub</a></li>
					</ul>
			</div>
		</div>
	</body>
</html>