<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>저만의 디제잉 진행</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">사진</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/9.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								DJ컨트롤러로 음악을 믹싱하는 모습
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">배경과 목적</strong><br>
				저만의 음악을 만들기 위해서 입니다.
			</div>
			<div class="contents">
				<strong class="title1">역량 강화 과정</strong><br>
				우선, 디제이 컨트롤러에 어떤 기능이 있는지 대략적으로 파악하였습니다. 이렇게 파악한 후, 샘플 음악으로 디제이 컨트롤러를 다루면서 직접 기능을 익혔습니다. 이후, 좋아하는 음악으로 실제로 믹싱해서 저만의 디제잉을 하고 있습니다.
			</div>
			<div class="contents">
				<strong class="title2">강화된 역량</strong><br>
					<ul>
						<li><strong>구현력, 문제 해결 능력</strong> : 믹싱으로 하나의 음악을 만드는 과정을 통해서 강화되었습니다.</li>
						<li><strong>탐구력</strong> : 어떻게 믹싱할지 고민하는 과정을 통해서 강화되었습니다.</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">부연 설명</strong>
					<ul>
						<li>(X)</li>
					</ul>
			</div>
		</div>
	</body>
</html>