<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>ジムで運動</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">写真</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/9.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								ジムで筋力の運動する様子
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">背景と目的</strong><br>
				体と体力を強化して武器力を防ぎ、情熱的な生活を送るためです。
			</div>
			<div class="contents">
				<strong class="title1">能力を強化した過程</strong><br>
				当初は体力向上のためにただのランニングマシンだけでしたが、インターネットを通じて筋力運動後に有酸素運動をすることが効果的であることを知りました。 そのため、YouTubeで最も効果的な筋力運動を調査した後、運動計画を再構築しました。 その後、フィットネスセンターに行き、私が耐えることができるほど強さを最大限に高めて運動しました。 このように運動する中、身体部位が病気のときは、私の限界を克服するために少しでもさらに参考運動した後、休んで、また運動しました。 このように運動すれば、いつも身体部位が痛くて大変ですが、私の限界を乗り越える中だと思い、毎晩着実にやっています。
			</div>
			<div class="contents">
				<strong class="title2">強化された能力</strong><br>
					<ul>
						<li> <strong>挑戦精神</strong>：新しい運動を開始し、強度を高めるプロセスを通して強化されました。</li>
						<li> <strong>忍耐力</strong>：特定の部位が病気になるまで最善を尽くして運動する過程を通じて強化されました。</li>
						<li> <strong>フィットネス</strong>：着実に運動する過程で強化されました。</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">追加の説明</strong>
					<ul>
						<li>平日、週末、祝日、問わず毎晩2時間ずつジムで運動します。</li>
						<li>強度を高め、「クラスは簡単で、クラスは難しい」と思われるとき、その強度で集中的に運動します。</li>
					</ul>
			</div>
		</div>
	</body>
</html>