<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>자기계발서 읽기</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">사진</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/12.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								대화에 관한 책을 읽는 모습
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">배경과 목적</strong><br>
				인생에 도움이 될 수 있는 지식을 늘리기 위해서 입니다.
			</div>
			<div class="contents">
				<strong class="title1">역량 강화 과정</strong><br>
				우선, 책을 빨리 읽어서 대략적으로 무슨 내용인지 파악하였습니다. 너무 느리게 읽으면 실행에 옮기는 것 조차 못하므로 가능한 빨리 읽었습니다. 다 읽은 후, 책에서 얻은 지식을 제 행동에 어떻게 적용할지 생각하였습니다. 이후, 직접 실행할 때 적용하기 시작하였습니다. 만약 부족하다는 생각이 들면, 그 때 필요하다고 생각되는 부분만 천천히 읽었습니다.
			</div>
			<div class="contents">
				<strong class="title2">강화된 역량</strong><br>
					<ul>
						<li><strong>탐구력</strong> : 습득한 지식을 일상 생활에 어떻게 적용할지 고민하는 과정을 통해서 강화되었습니다.</li>
						<li><strong>학습 능력</strong> : 새로운 지식을 습득하는 과정을 통해서 강화되었습니다.</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">부연 설명</strong>
					<ul>
						<li>(X)</li>
					</ul>
			</div>
		</div>
	</body>
</html>