<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>
			Reading Self-Help Books
		</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">Photos</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/12.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								To read a book about conversation
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">Background and Purpose</strong><br>
				This is to increase the knowledges which is helpful for my life.
			</div>
			<div class="contents">
				<strong class="title1">Process to have Strengthened Abilities</strong><br>
				First of all, I read the book quickly to get a rough idea of what it was about. If you read it too slowly, you won't even be able to put it into action, so I read it as fast as I could. After reading it, I thought about how I could apply the knowledge I gained from the book to my actions. After that, I started to apply it when I run it directly. If I felt it was lacking, I slowly read only the parts I thought were necessary at that time.
			</div>
			<div class="contents">
				<strong class="title2">Strengthened Abilities</strong><br>
					<ul>
						<li><strong>Inquiry</strong> : It has been strengthened through the process of thinking about how to apply the acquired knowledge to everyday life.</li>
<li><strong>Learning ability</strong> : Reinforced through the process of acquiring new knowledge.</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">Further Explanations</strong><br>
					<ul>
						<li>(X)</li>
					</ul>
			</div>
		</div>
	</body>
</html>