<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>저만의 요리 진행</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">사진</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/13.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								참치 주먹밥을 만든 모습
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">배경과 목적</strong><br>
				저만의 음식을 만들고 자립하기 위해서 입니다.
			</div>
			<div class="contents">
				<strong class="title1">역량 강화 과정</strong><br>
				만개의레시피 사이트에서 요리하고 싶은 음식을 검색한 후 레시피를 참고하였습니다. 이렇게 레시피를 참고하면서, 필요한 식재료를 모두 구입하였습니다. 이후, 처음에는 영상을 보고 그대로 따라하면서 요리하였습니다. 그 다음부터는, 레시피를 외우기 위해 최대한 보지 않고 요리하려고 노력하였습니다. 이렇게 레시피를 거의 다 외웠으면, 저만의 레시피를 연구한 후 직접 요리해서 고민하는 작업을 반복하였습니다. 이러한 과정을 거친 끝에, 저만의 맛있는 요리를 가족들한테 제공할 수 있었습니다.
			</div>
			<div class="contents">
				<strong class="title2">강화된 역량</strong><br>
					<ul>
						<li><strong>구현력, 문제 해결 능력</strong> : 실제로 요리하는 과정을 통해서 강화되었습니다.</li>
						<li><strong>도전 정신</strong> : 연속적으로 요리법을 익힌 후 요리하는 과정을 통해서 강화되었습니다.</li>
						<li><strong>탐구력</strong> : 어떻게 해야 맛있는 음식을 만들지 고민하는 과정을 통해서 강화되었습니다.</li>
						<li><strong>학습 능력</strong> : 새로운 요리법을 익히는 과정을 통해서 강화되었습니다.</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">부연 설명</strong>
					<ul>
						<li>저는 주로 만개의레시피 사이트에서 레시피를 찾아서 요리합니다. 가장 대표적으로, 주먹밥, 돈까스덮밥, 알리올리오 파스타를 직접 요리하였습니다.</li>
					</ul>
			</div>
		</div>
	</body>
</html>