<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>
			Cooking my own Food
		</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">Photos</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/13.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								To have made tuna rice balls
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">Background and Purpose</strong><br>
				This is to make my own food and become independent.
			</div>
			<div class="contents">
				<strong class="title1">Process to have Strengthened Abilities</strong><br>
				I searched for the food I want to cook on 10,000 recipe sites and referenced the recipe. While referring to this recipe, I purchased all the necessary ingredients. After that, I watched the video at first and cooked it while following it. From then on, I tried to cook without looking as much as possible to memorize the recipe. When I had memorized almost all of the recipes like this, I studied my own recipe and cooked it myself, repeating the process of contemplation. After going through this process, I was able to provide my own delicious dishes to my family.
			</div>
			<div class="contents">
				<strong class="title2">Strengthened Abilities</strong><br>
					<ul>
						<li><strong>Effectiveness and problem-solving ability</strong> : It has been strengthened through the process of actually cooking.</li>
<li><strong>Challenging spirit</strong> : It has been strengthened by continuously learning recipes and then cooking them.</li>
<li><strong>Inquisition</strong> : It has been strengthened through the process of thinking about how to make delicious food.</li>
<li><strong>Learning ability</strong> : Enhanced by learning new recipes.</li>
			</div>
			<div class="contents">
				<strong class="title1">Further Explanations</strong><br>
					<ul>
						<li>I usually find recipes on ten thousand recipe sites and cook them. Most representatively, I cooked rice balls, pork cutlet rice bowls, and agliolio pasta.</li>
					</ul>
			</div>
		</div>
	</body>
</html>