<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>自分だけの料理を進行</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">写真</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/13.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								マグロのおにぎりを作った様子
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">背景と目的</strong><br>
				私だけの食べ物を作って私立するためです。
			</div>
			<div class="contents">
				<strong class="title1">能力を強化した過程</strong><br>
				満開のレシピサイトで料理したい食べ物を検索した後、レシピを参考にしました。 このようにレシピを参考にしながら、必要な食材を全て購入しました。 以後、最初は映像を見てそのまま注ぎながら料理しました。 それから、レシピを覚えるためにできるだけ見ずに料理しようとしました。 このようにレシピをほぼ全部覚えたら、私だけのレシピを研究した後、直接料理して悩む作業を繰り返しました。 この過程を経た後、私だけのおいしい料理を家族に提供することができました。
			</div>
			<div class="contents">
				<strong class="title2">強化された能力</strong><br>
					<ul>
						<li> <strong>現実力、トラブルシューティング能力</strong>：実際に調理するプロセスを通して強化されました。</li>
						<li> <strong>挑戦精神</strong>：連続的にレシピを身につけた後、料理の過程を通して強化されました。</li>
						<li> <strong>探索力</strong>：どのようにしておいしい食べ物を作るかを悩む過程を通して強化されました。</li>
						<li> <strong>学習能力</strong>：新しいレシピを習うプロセスを通して強化されました。</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">追加の説明</strong>
					<ul>
						<li>私は主にレシピサイトでレシピを見つけて料理します。 最も代表的には、おにぎり、とんかつ丼、アリオリオパスタを直接調理しました。</li>
					</ul>
			</div>
		</div>
	</body>
</html>