<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>애니메이션 행사 참여</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">사진</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/13.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								콘서트가 끝난 후에 찍은 모습
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">배경과 목적</strong><br>
				남다른 열정을 보여주기 위해서 입니다.
			</div>
			<div class="contents">
				<strong class="title1">역량 강화 과정</strong><br>
				애니메이션 콘서트가 오픈하면 참여합니다. 콘서트가 시작되면 다 같이 자리에서 일어서서 타이밍에 맞게 열정적으로 응원하였습니다. 만약 응원이 없을 때는 제가 먼저 큰 소리로 응원해서 관객들을 이끌었습니다. 이후, 콘서트가 끝나면 '수고하셨습니다!'라고 외쳐서 관객들한테 인사를 유도하는 등 항상 남들과는 다르게 적극적으로 행동하였습니다. 항상 이렇게 행동하면서 열정을 기르고 있습니다. 지금은 애니메이션 음악을 즐길 수 있는 DJ 행사에도 참여하면서 열정을 기르고 있습니다.
			</div>
			<div class="contents">
				<strong class="title2">강화된 역량</strong><br>
					<ul>
						<li><strong>도전 정신</strong> : 관객들을 이끄는 과정을 통해서 강화되었습니다.</li>
						<li><strong>열정, 집중력</strong> : 큰 소리로 응원하는 과정을 통해서 강화되었습니다.</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">부연 설명</strong>
					<ul>
						<li>애니메이션 콘서트 생중계: 해외(일본)에서 하는 콘서트를 영화관에서 위성 생중계해주는 행사입니다. 쉽게 말해, 애니메이션 콘서트 생중계입니다. 일반 영화 상영과는 달리 마치 콘서트처럼 환호성을 지를 수도 있고 펜라이트를 휘두를 수도 있고 일어설 수도 있습니다. 더 짧게 말해, ‘라이브 뷰잉’ 이라고 합니다.</li>
						<li>애니메이션 DJ 행사: DJ가 틀어주는 애니메이션 음악을 들으면서 즐길 수 있는 행사입니다. 쉽게 말해, 애니메이션 음악을 즐길 수 있는 DJ 행사입니다. 즐길 때는 구호를 외쳐도 되고 춤을 춰도 되고 앉아서 듣기만 해도 됩니다. 더 짧게 말해, ‘애니송 클럽’ 이라고 합니다.</li>
					</ul>
			</div>
		</div>
	</body>
</html>