<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>리듬 게임 플레이</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">사진</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/14.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								3D 리듬 게임을 하는 모습
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">배경과 목적</strong><br>
				저만의 능력을 강화하고 스트레스를 풀기 위해서 입니다.
			</div>
			<div class="contents">
				<strong class="title1">역량 강화 과정</strong><br>
				우선 튜토리얼을 받고 나서, 곡의 레벨을 높인 후 플레이하는 작업을 반복하였습니다. 이렇게 하다가, '반은 쉽고 반은 어렵다'라는 생각이 들 때, 그 곡을 집중적으로 연습하였습니다. 만약 계속 실수하는 부분이 있다면, 어떻게 해야 실수하지 않을지 고민하였습니다. 이렇게 계속 연습해서 실수가 10% 이하로 줄면, 다시 곡의 레벨을 높인 후 연습하고 있습니다.
			</div>
			<div class="contents">
				<strong class="title2">강화된 역량</strong><br>
					<ul>
						<li><strong>순발력</strong> : 다가오는 막대기를 타이밍에 맞게 터치하는 과정을 통해서 강화되었습니다.</li>
						<li><strong>집중력</strong> : 게임을 하면서 집중하는 과정을 통해서 강화되었습니다.</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">부연 설명</strong>
					<ul>
						<li>리듬 게임: 다가오는 막대기를 음악의 박자에 맞춰서 터치하는 게임입니다. 가장 대표적으로, 오락실 게임 '펌프 잇 업'이 있습니다.</li>
						<li>오락실 리듬게임, PC 리듬게임 등 여러 가지의 리듬 게임이 있지만, 저는 주로 모바일 리듬 게임을 합니다.</li>
					</ul>
			</div>
		</div>
	</body>
</html>