<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>
			Doing Second Hand Trade
		</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">Photos</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/14.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								To sell mechanical keyboards
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">Background and Purpose</strong><br>
				This is to keep the room tidy by selling things you don't need.
			</div>
			<div class="contents">
				<strong class="title1">Process to have Strengthened Abilities</strong><br>
				I researched how much the item I wanted to sell sold for in the past and offered a price. If we were contacted about items on sale, we responded as soon as possible. In particular, when asked a question, I answered it in as much detail as possible. Also, when I made a purchase, I gave my account number and deposit amount. When the deposit was confirmed, I immediately wrapped it in bubble wrap and sent it to the convenience store, and sent it after taking a picture of the waybill. At this time, I was very meticulous and kind enough to put the difference in the shipping cost in a separate courier. After going through this process, the number of sales exceeded 20.
			</div>
			<div class="contents">
				<strong class="title2">Strengthened Abilities</strong><br>
					<ul>
						<li><strong>Effectiveness and problem-solving ability</strong> : It has been strengthened through the process of writing a post to promote the product.</li>
<li><strong>Communication skills</strong>: Enhanced through the process of guiding the product to the seller.</li>
<li><strong>Inquiry</strong>: It has been strengthened through the process of thinking about how to promote the product.</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">Further Explanations</strong><br>
					<ul>
						<li>I mainly do second-hand transactions at Naver Joongongnara Cafe.</li>
					</ul>
			</div>
		</div>
	</body>
</html>