<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>
			Playing Rhythm Games
		</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">Photos</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/14.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								To play a 3D rhythm game
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">Background and Purpose</strong><br>
				This is to strengthen my own abilities and get rid of stress.
			</div>
			<div class="contents">
				<strong class="title1">Process to have Strengthened Abilities</strong><br>
				First, after receiving the tutorial, I repeated the work of increasing the level of the song and then playing it. While doing this, when I thought 'half easy and half difficult', I practiced the song intensively. If there is a part where I keep making mistakes, I thought about how to avoid making a mistake. If you keep practicing like this and your mistakes are reduced to 10% or less, raise the level of the song again and practice.
			</div>
			<div class="contents">
				<strong class="title2">Strengthened Abilities</strong><br>
					<ul>
						<li><strong>Agility</strong> : It has been strengthened through the process of touching the approaching stick at the right time.</li>
<li><strong>Concentration</strong> : It has been strengthened through the process of concentration while playing the game.</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">Further Explanations</strong><br>
					<ul>
						<li>Rhythm game: A game where you touch an approaching stick to the beat of the music. The most representative example is the arcade game 'Pump It Up'.</li>
<li>There are various rhythm games such as arcade rhythm games and PC rhythm games, but I mainly play mobile rhythm games.</li>
					</ul>
			</div>
		</div>
	</body>
</html>