<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>중고 거래 진행</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">사진</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/14.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								기계식 키보드를 판매하는 모습
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">배경과 목적</strong><br>
				필요 없는 물건을 팔아서 방을 깨끗히 정리하기 위해서 입니다.
			</div>
			<div class="contents">
				<strong class="title1">역량 강화 과정</strong><br>
				제가 판매하려는 물건이 예전에 얼마에 판매되었는지 조사한 후 가격을 제시하였습니다. 만약, 판매 중인 물건에 대해 연락이 오면, 최대한 빠른 시간 안에 답변하였습니다. 특히, 질문을 하면, 최대한 자세하게 답변하였습니다. 또한, 구매 의사를 밝히면, 제 계좌 번호와 입금 금액을 알려주었습니다. 입금이 확인되면, 바로 뽁뽁이로 포장해서 편의점에 택배를 부쳤고, 운송장도 찍어서 보내주었습니다. 이때, 배송비 차액을 따로 택배에 넣어서 드릴 정도로 매우 꼼꼼하고 친절하게 행동하였습니다. 이러한 과정을 계속 거친 끝에 판매 횟수가 20을 넘었습니다.
			</div>
			<div class="contents">
				<strong class="title2">강화된 역량</strong><br>
					<ul>
						<li><strong>구현력, 문제 해결 능력</strong> : 상품을 홍보하기 위한 게시글을 쓰는 과정을 통해서 강화되었습니다.</li>
						<li><strong>의사 소통 능력</strong> : 판매자한테 상품을 안내하는 과정을 통해서 강화되었습니다.</li>
						<li><strong>탐구력</strong> : 상품을 어떻게 홍보할지 고민하는 과정을 통해서 강화되었습니다.</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">부연 설명</strong>
					<ul>
						<li>저는 주로 네이버 중고나라 카페에서 중고 거래를 합니다.</li>
					</ul>
			</div>
		</div>
	</body>
</html>