<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>中古の取引を進行</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">写真</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/14.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								機械式キーボードを販売する様子
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">背景と目的</strong><br>
				必要のないものを売って部屋をきれいに整理するためです。
			</div>
			<div class="contents">
				<strong class="title1">能力を強化した過程</strong><br>
				私が販売しようとしているものが以前どのくらいに販売されたかを調べた後、価格を提示しました。 もし、販売中のものについて連絡が来たら、できるだけ早い時間内に回答いたしました。 特に、質問をすると、できるだけ詳しく回答しました。 また、購入意思を明かすと、私の口座番号と入金額を教えてくれました。 入金が確認されたら、すぐポポンで包んでコンビニに宅配便を吹き、運送状も撮って送ってくれました。 この時、送料差額を別に宅配便に入れて差し上げるほど非常に細かく親切に行動しました。 これらのプロセスを続けた後、販売数は20を超えました。
			</div>
			<div class="contents">
				<strong class="title2">強化された能力</strong><br>
					<ul>
						<li> <strong>実装、問題解決能力</strong>：商品を宣伝するための記事を書くことで強化されました。</li>
						<li> <strong>コミュニケーション能力</strong>：売り手に商品を案内するプロセスを通じて強化されました。</li>
						<li> <strong>探索力</strong>：商品をどのように宣伝するかを考えるプロセスを通じて強化されました。</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">追加の説明</strong>
					<ul>
						<li>私は主にネイバー中古国カフェで中古取引をしています。</li>
					</ul>
			</div>
		</div>
	</body>
</html>