<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>自己啓発書を読む</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">写真</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/12.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								会話に関する本を読む様子
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">背景と目的</strong><br>
				人生に役に立つ知識を増やすためです。
			</div>
			<div class="contents">
				<strong class="title1">能力を強化した過程</strong><br>
				まず、本をすばやく読んで、おおよその内容を把握しました。 読みすぎると実行に移すことさえできないので、できるだけ早く読みました。 読んだ後、本から得た知識を私の行動にどのように適用するかを考えました。 以降、直接実行する際に適用を開始しました。 もし不足だと思ったら、その時必要だと思われる部分だけゆっくりと読みました。
			</div>
			<div class="contents">
				<strong class="title2">強化された能力</strong><br>
					<ul>
						<li> <strong>探索力</strong>：習得した知識を日常生活にどのように適用するかを考える過程を通じて強化されました。</li>
						<li> <strong>学習能力</strong>：新しい知識を習得するプロセスを通じて強化されました。</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">追加の説明</strong>
					<ul>
						<li>(X)</li>
					</ul>
			</div>
		</div>
	</body>
</html>