<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>アニメのイベントに参加</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">写真</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/7.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								コンサート終了後に撮影した様子
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">背景と目的</strong><br>
				格別な情熱を見せてあげるためです。
			</div>
			<div class="contents">
				<strong class="title1">能力を強化した過程</strong><br>
				アニメコンサートがオープンすると参加します。 コンサートが始まると、みんなで席で立ち上がり、タイミングに合わせて情熱的に応援しました。 もし応援がない時は、私が先に大きな声で応援して観客を導きました。 以後、コンサートが終わったら「お疲れ様でした！」と叫び、観客に挨拶を誘導するなど、常に他人とは違って積極的に行動しました。 いつもこのように行動しながら情熱を育てています。 今はアニメ音楽を楽しめるDJイベントにも参加しながら情熱を育んでいます。
			</div>
			<div class="contents">
				<strong class="title2">強化された能力</strong><br>
					<ul>
						<li> <strong>挑戦精神</strong>：観客を率いるプロセスを通して強化されました。</li>
						<li> <strong>情熱、集中力</strong>：大声で応援する過程を通じて強化されました。</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">追加の説明</strong>
					<ul>
						<li>アニメコンサート生中継：海外（日本）で行うコンサートを映画館で衛星生中継してくれるイベントです。 簡単に言えば、アニメコンサート生中継です。 通常の映画上映とは異なり、まるでコンサートのように歓声を上げたり、ペンライトを振り回したり、立ち上がったりすることもできます。 つまり、「ライブビューイング」といいます。</li>
						<li>アニメDJイベント：DJが演じるアニメ音楽を聴きながら楽しめるイベントです。 簡単に言えば、アニメ音楽を楽しめるDJイベントです。 楽しむ時は、スローガンを叫んでもダンスをしても、座って聴くだけでもいいです。 つまり、「アニクラ」といいます。</li>
					</ul>
			</div>
		</div>
	</body>
</html>