<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>
			Participating in Animation Events
		</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">Photos</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/7.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								To have taken a picture after a concert
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">Background and Purpose</strong><br>
				This is to show extraordinary passion.
			</div>
			<div class="contents">
				<strong class="title1">Process to have Strengthened Abilities</strong><br>
				I participate in anime concerts when they opens. When the concert started, we all stood up together and cheered passionately at the right time. If there was no cheering, I first cheered loudly and led the audience. Afterwards, after the concert, he always acted differently from others, such as shouting 'Good job!' to greet the audience. I am always doing this, and I am nurturing passion. Now, he is developing his passion by participating in DJ events where he can enjoy anime music.
			</div>
			<div class="contents">
				<strong class="title2">Strengthened Abilities</strong><br>
					<ul>
						<li><strong>Challenging spirit</strong> : Reinforced through the process of leading the audience</li>
<li><strong>Passion, concentration</strong> : It has been strengthened through the process of cheering loudly.</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">Further Explanations</strong><br>
					<ul>
						<li>Animation Concert Live: This is an event that broadcasts live concerts held overseas (Japan) in movie theaters. Simply put, it's a live broadcast of an anime concert. Unlike a regular movie screening, you can cheer like a concert, swing a penlight, or stand up. In short, it's called 'live viewing'.</li>
<li>Animation DJ event: This is an event where you can enjoy while listening to anime music played by a DJ. Simply put, it is a DJ event where you can enjoy anime music. When you have fun, you can shout slogans, dance or just sit and listen. In short, it is called ‘Anisong Club’.</li>
					</ul>
			</div>
		</div>
	</body>
</html>