<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>アルゴリズムの問題を解決</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">写真</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/2.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								アルゴリズムの問題ですべてのケースを通過した様子
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">背景と目的</strong><br>
				プログラム開発時にきちんとしたコードといいコードを実装するためです。
			</div>
			<div class="contents">
				<strong class="title1">能力を強化した過程</strong><br>
				最初はアルゴリズムサイトで問題を解決しました。 しかし、アルゴリズムサイトだけで勉強するには限界があるので、コーディングテストに対処する本を購入しました。 この本のサンプルコードを理解して暗記していきました。 その後、再びアルゴリズムサイトで問題を解いて応用力を強化しました。 このように勉強したので、アルゴリズム設計能力が強化されたことを確実に感じました。 だから今はアルゴリズム設計にもっと楽しさを感じ、以前よりも多くの問題を解決しています。
			</div>
			<div class="contents">
				<strong class="title2">強化された能力</strong><br>
					<ul>
						<li> <strong>実装、トラブルシューティング能力</strong>：アルゴリズムをコードで実装するプロセスを通じて強化されました。</li>
						<li> <strong>忍耐力、集中力</strong>：エラーをどのように解決するかを考えた後、試すプロセスを通して強化されました。</li>
						<li> <strong>探索力</strong>：問題をどのように解決するかを考えた後、アルゴリズムを設計するプロセスを通して強化されました。</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">追加の説明</strong><br>
					<ul>
						<li>LeetCode、Programmers、Baekjoon、Codeforcesなど、いくつかのサイトを利用しましたが、主にLeetCodeサイトで問題を解決しました。</li>
						<li><a href="http://leetcode.com/jhs951101" target="_blank">LeetCode</a></li>
						<li><a href="http://www.acmicpc.net/user/spg1101" target="_blank">BAEKJOON</a></li>
					</ul>
			</div>
		</div>
	</body>
</html>