<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>알고리즘 문제 풀이</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">사진</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/2.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								알고리즘 문제에서 모든 케이스를 통과한 모습
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">배경과 목적</strong><br>
				프로그램 개발 시 좋은 코드, 효율적인 코드를 구현하기 위해서 입니다.
			</div>
			<div class="contents">
				<strong class="title1">역량 강화 과정</strong><br>
				처음에는 알고리즘 사이트에서 문제 풀이만 하였습니다. 그러나 알고리즘 사이트만 가지고 공부하기에는 한계가 있으므로 코딩 테스트 대비용 책을 구입하였습니다. 이 책에 있는 예제 코드를 이해한 후 암기해나갔습니다. 이후, 다시 알고리즘 사이트에서 문제를 풀어서 응용력을 강화하였습니다. 이렇게 공부하니, 알고리즘 설계 능력이 강화된 것을 확실하게 느꼈습니다. 그래서 지금은 알고리즘 설계에 더욱 재미를 느끼고 전보다 더 많은 문제를 풀고 있습니다.
			</div>
			<div class="contents">
				<strong class="title2">강화된 역량</strong><br>
					<ul>
						<li><strong>구현력, 문제 해결 능력</strong> : 알고리즘을 코드로 구현하는 과정을 통해서 강화되었습니다.</li>
						<li><strong>인내력, 집중력</strong> : 에러를 어떻게 해결할지 고민한 후 시도하는 과정을 통해서 강화되었습니다.</li>
						<li><strong>탐구력</strong> : 문제를 어떻게 해결할지 고민한 후 알고리즘을 설계하는 과정을 통해서 강화되었습니다.</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">부연 설명</strong><br>
					<ul>
						<li>LeetCode, Programmers, Baekjoon, Codeforces 등 여러 사이트를 이용하였지만, 주로 LeetCode 사이트에서 문제를 풀었습니다.</li>
						<li><a href="http://leetcode.com/jhs951101" target="_blank">LeetCode</a></li>
						<li><a href="http://www.acmicpc.net/user/spg1101" target="_blank">BAEKJOON</a></li>
					</ul>
			</div>
		</div>
	</body>
</html>