<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>
			Exercising at the Gym
		</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">Photos</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/8.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								To do strength training at the gym
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">Background and Purpose</strong><br>
				This is to strengthen the body and stamina to prevent lethargy and live a passionate life.
			</div>
			<div class="contents">
				<strong class="title1">Process to have Strengthened Abilities</strong><br>
				At first, I only used the treadmill to improve my stamina, but through the Internet, I found that aerobic exercise after strength training is effective. So, after researching the most effective strength training on YouTube, I reworked my workout plan. After that, I went to the gym and worked out as high as possible as much as I could endure. During this exercise, if any part of the body hurts, to overcome my limitations, I exercised a little more patience, then rested, and then exercised again. When I exercise like this, my body part is always sore and hard, but I feel like I am overcoming my limits and I do it every night.
			</div>
			<div class="contents">
				<strong class="title2">Strengthened Abilities</strong><br>
					<ul>
						<li><strong>Challenging spirit</strong> : It has been strengthened by starting a new exercise and increasing the intensity.</li>
<li><strong>Patience</strong> : It has been strengthened through the process of exercising with utmost effort until a specific area hurts.</li>
<li><strong>Stamina</strong> : It has been strengthened through the process of regular exercise.</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">Further Explanations</strong><br>
					<ul>
						<li>I work out at the gym for 2 hours every night, regardless of weekdays, weekends and holidays.</li>
<li>When you think of 'half easy and half difficult' while increasing the intensity, focus on that intensity.</li>
					</ul>
			</div>
		</div>
	</body>
</html>