<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>종이 박스로 작품 제작</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">사진</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/10.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								종이 박스로 발열체크기를 제작한 모습
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">배경과 목적</strong><br>
				필요할 때 저만의 작품을 만들기 위해서 입니다.
			</div>
			<div class="contents">
				<strong class="title1">역량 강화 과정</strong><br>
				저는 매우 기발해서 특이한 행동을 하기도 합니다. 가장 대표적인 사례로, 주민센터에서 발열 체크 업무를 효율적으로 하기 위해 저만의 발열체크기를 제작해서 문제 해결 능력, 제품 설계 능력을 강화하였습니다. 우선, 발열체크기를 대략적으로 구상한 후 설계도를 그렸습니다. 그 다음, 구현을 시작하였는데, 종이 박스를 가위로 오리고 테이프로 붙이는 과정을 통해 사각 기둥을 만들어서 체온계를 꽃을 수 있도록 하였습니다. 그 다음, 이 사각 기둥을 길쭉한 태블릿 거치대에 테이프로 붙여서 고정하였습니다. 그 다음, 체온 측정을 해야 하므로 태블릿 거치대에 실을 달았습니다. 따라서, 실을 당기면 체온 측정 버튼에 압력이 가해져서 버튼이 눌려지므로 체온 측정이 가능합니다. 그 다음, 체온계를 위로 뻗게 한 다음 체온계에 ‘이마를 대주세요’ 라는 문구를 붙였습니다. 이렇게 해야 민원인들이 보고 이해할 수 있고 쉽게 발열 체크 받을 수 있기 때문입니다. 이러한 과정을 거친 끝에, 저만의 발열체크기를 구현해서 발열체크 업무를 보다 효율적으로 할 수 있었습니다.
			</div>
			<div class="contents">
				<strong class="title2">강화된 역량</strong><br>
					<ul>
						<li><strong>구현력, 문제 해결 능력</strong> : 작품을 구현하는 과정을 통해서 강화되었습니다.</li>
						<li><strong>탐구력</strong> : 어떤 작품을 만들지 고민한 후 설계하는 과정을 통해서 강화되었습니다.</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">부연 설명</strong>
					<ul>
						<li>(X)</li>
					</ul>
			</div>
		</div>
	</body>
</html>