<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>自分だけのディジェインを進行</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">写真</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/10.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								DJコントローラーで音楽をミキシングする様子
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">背景と目的</strong><br>
				私だけの音楽を作るためです。
			</div>
			<div class="contents">
				<strong class="title1">能力を強化した過程</strong><br>
				まず、DJコントローラーにどのような機能があるかを大まかに把握しました。 このように把握した後、サンプル音楽でDJコントローラーを扱いながら直接機能を身につけました。 以後、好きな音楽で実際にミキシングして私だけのデジェインをしています。
			</div>
			<div class="contents">
				<strong class="title2">強化された能力</strong><br>
					<ul>
						<li> <strong>実現、問題解決能力</strong>：ミキシングで1つの音楽を作成するプロセスを通じて強化されました。</li>
						<li> <strong>探索力</strong>：どのようにミキシングするかを考えるプロセスを通して強化されました。</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">追加の説明</strong>
					<ul>
						<li>(X)</li>
					</ul>
			</div>
		</div>
	</body>
</html>