<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>
			Designing and Editing Images with Photoshop
		</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">Photos</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/11.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								To extract an image
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<img src="images/1.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								To design a logo
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">Background and Purpose</strong><br>
				This is to effectively express myself in portfolios, blogs, etc.
			</div>
			<div class="contents">
				<strong class="title1">Process to have Strengthened Abilities</strong><br>
				First, I sketched on the iPad to come up with a rough design. Based on this design, I made my own design using the functions in Photoshop. If you don't know what to do, you can search on Google to find out how. After designing like this, I saved it as an image.
			</div>
			<div class="contents">
				<strong class="title2">Strengthened Abilities</strong><br>
					<ul>
						<li><strong>Effectiveness and problem-solving ability</strong> : It has been enhanced through the process of designing in Photoshop and editing images.</li>
<li><strong>Inquiry</strong>: It has been strengthened through the process of thinking about how to design it.</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">Further Explanations</strong><br>
					<ul>
						<li>I got the related certification 'Craftsman Computer Graphics Operation'.</li>
					</ul>
			</div>
		</div>
	</body>
</html>