<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>紙箱で作品を制作</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">写真</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/11.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								紙箱で発熱をチェックするデバイスを作った様子
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">背景と目的</strong><br>
				必要する時、私だけの作品を作るためです。
			</div>
			<div class="contents">
				<strong class="title1">能力を強化した過程</strong><br>
				私は非常に気まぐれで珍しい行動をします。最も代表的な事例として、住民センターで発熱チェック業務を効率的にするため、私だけの発熱チェック器を製作して問題解決能力、製品設計能力を強化しました。まず、発熱チェックをおおよその構想後に設計図を描きました。その後、実装を始めましたが、紙箱をはさみでテープに貼り付ける過程で四角柱を作り、体温計を花にすることができました。その後、この四角柱を細長いタブレット台にテープで貼り付けて固定しました。その後、体温測定をしなければならないので、タブレット台に糸をつけました。したがって、糸を引くと体温測定ボタンに圧力が加わり、ボタンが押されて体温測定が可能となる。その後、体温計を上に伸ばしてから、体温計に「額を当ててください」というフレーズをつけました。こうすれば、苦情人が見て理解でき、簡単に発熱チェックを受けることができるからです。このような過程を経た上で、私だけの発熱チェックを具現して発熱チェック業務をより効率的にすることができました。
			</div>
			<div class="contents">
				<strong class="title2">強化された能力</strong><br>
					<ul>
						<li> <strong>実装、問題解決能力</strong>：作品を実装するプロセスを通じて強化されました。</li>
						<li> <strong>探索力</strong>：どの作品を作るのか悩んだ後、設計する過程を通じて強化されました。</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">追加の説明</strong>
					<ul>
						<li>(X)</li>
					</ul>
			</div>
		</div>
	</body>
</html>