<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>포토샵으로 디자인 및 이미지 편집</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">사진</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/11.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								이미지를 추출하는 모습
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<img src="images/1.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								로고를 디자인하는 모습
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">배경과 목적</strong><br>
				포트폴리오, 블로그 등에 저를 효과적으로 표현하기 위해서 입니다.
			</div>
			<div class="contents">
				<strong class="title1">역량 강화 과정</strong><br>
				우선, 아이패드에 스케치를 해서 대략적인 디자인을 구상하였습니다. 이렇게 구상한 디자인을 바탕으로, 포토샵에 있는 기능을 활용해서 저만의 디자인을 하였습니다. 만약, 어떻게 해야 될지 모를 때는 구글에서 검색해서 방법을 조사하였습니다. 이렇게 디자인을 마친 후, 이미지로 저장하였습니다.
			</div>
			<div class="contents">
				<strong class="title2">강화된 역량</strong><br>
					<ul>
						<li><strong>구현력, 문제 해결 능력</strong> : 포토샵으로 디자인하고, 이미지를 편집하는 과정을 통해서 강화되었습니다.</li>
						<li><strong>탐구력</strong> : 어떻게 디자인할지 고민하는 과정을 통해서 강화되었습니다.</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">부연 설명</strong>
					<ul>
						<li>관련 자격증 '컴퓨터그래픽스운용기능사'도 취득하였습니다.</li>
					</ul>
			</div>
		</div>
	</body>
</html>