<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>ITブログを運営</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">写真</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/4.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								ブログに投稿した様子
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<img src="images/1.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								アルゴリズムの原理をブログに投稿した様子
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">背景と目的</strong><br>
				知識を整理しよく書くためです。
			</div>
			<div class="contents">
				<strong class="title1">能力を強化した過程</strong><br>
				休憩中や寝る前には、ブログにどんな内容を載せてどんな情報を知らせるか常に悩みました。 文章を書くときは、どうすれば一度に読んで理解できるか長く悩んだ末にできるだけ解いて説明しました。 もしどのように説明するのか分からないときは、ウィキペディアに書かれている説明を引用して再び解いて説明し、ソースも必ず表記しました。 このように説明をしてから重要な内容は太字で表示し、さらに重要な内容は赤色で表示しました。 そして、イメージで可視化をしなければ読者が簡単に理解できるので、少なくともイメージ1つくらいは入れようとしました。 この過程を経た末に最適化された文を載せることができました。
			</div>
			<div class="contents">
				<strong class="title2">強化された能力</strong><br>
					<ul>
						<li> <strong>現実力、問題解決能力、整理力</strong>：ブログに投稿して投稿することで強化されました。</li>
						<li> <strong>探索力</strong>：どのように表現するのか心配し、知らない内容は引用の過程を通して強化されました。</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">追加の説明</strong>
					<ul>
						<li><a href="http://sharpcoder.tistory.com" target="_blank">Tistory Blog</a></li>
						<li><a href="http://blog.naver.com/tails1101" target="_blank">Naver Blog</a></li>
					</ul>
			</div>
		</div>
	</body>
</html>