<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>
			Operating an IT Blog
		</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">Photos</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/4.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								To have posted on my blog
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<img src="images/1.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								To have posted the principle of the algorithm on my blog
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">Background and Purpose</strong><br>
				This is to organize my knowledges and be good at writing.
			</div>
			<div class="contents">
				<strong class="title1">Process to have Strengthened Abilities</strong><br>
				I always thought about what kind of information to post on the blog while taking a break or before going to bed. When I was writing, I tried to explain as much as possible after thinking for a long time on how to read and understand it at once. If you do not know how to explain it, you must quote the explanation written in Wikipedia and then explain it again, and be sure to indicate the source. After this explanation, important information is bolded, and more important information is displayed in red. And I tried to include at least one image because it is easy for readers to understand it when it is visualized with an image. After going through this process, I was able to post an optimized article.
			</div>
			<div class="contents">
				<strong class="title2">Strengthened Abilities</strong><br>
					<ul>
						<li><strong>Implementation, problem-solving ability, and organizing ability</strong> : It has been strengthened through the process of writing and posting on the blog.</li>
<li><strong>Inquiry</strong> : Contemplating how to express it, and quoting content that you do not know has been strengthened.</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">Further Explanations</strong><br>
					<ul>
						<li><a href="http://sharpcoder.tistory.com" target="_blank">Tistory Blog</a></li>
						<li><a href="http://blog.naver.com/tails1101" target="_blank">Naver Blog</a></li>
					</ul>
			</div>
		</div>
	</body>
</html>