<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>IT講義を撮影</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">写真</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/5.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								講義をユーチューブにアップロードした様子
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<img src="images/1.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								撮影した映像をアップロードする前に編集する様子
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">背景と目的</strong><br>
				知識を整理しよく話すためです。
			</div>
			<div class="contents">
				<strong class="title1">能力を強化した過程</strong><br>
				まず、講義で使われる台本を先に作成しました。 このように作成した台本をもとに講義を撮影しました。 その後、映像編集プログラムで、馬の間違った部分や灸の部分をすべて削除して最適化しました。 このように最適化した後、ユーチューブにアップロードして私だけの講義を上げることができました。
			</div>
			<div class="contents">
				<strong class="title2">強化された能力</strong><br>
					<ul>
						<li> <strong>現実力、問題解決能力、整理力</strong>：講義を撮影して編集し、アップロードすることで強化されました。</li>
						<li> <strong>探索力</strong>：どのように表現するかを悩むプロセスを通して強化されました。</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">追加の説明</strong>
					<ul>
						<li><a href="http://www.youtube.com/channel/UCJH802LTybCFZF4qlAXsV2Q" target="_blank">YouTube</a></li>
					</ul>
			</div>
		</div>
	</body>
</html>