<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../../css/styleToView.css">
		<title>
			Recording IT Lectures
		</title>
	</head>
	<body>
		<div class="view">
			<div class="contents">
				<strong class="title1">Photos</strong>
				<table class="functions-table">
					<tr>
						<td>
							<img src="../../../images/Experiences/5.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								To have uploaded lectures on YouTube
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<img src="images/1.png" alt="experience image" class="function-image">
						</td>
						<td class="function-contents">
							<p>
								To edit a recorded video before uploading it
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="contents">
				<strong class="title1">Background and Purpose</strong><br>
				This is to organize my knowledges and be good at speaking.
			</div>
			<div class="contents">
				<strong class="title1">Process to have Strengthened Abilities</strong><br>
				First of all, I wrote the script to be used in the lecture. The lecture was filmed based on this script. Then, in the video editing program, I optimized it by removing all the erroneous or steamy parts. After optimizing like this, I was able to upload my own lectures to YouTube.
			</div>
			<div class="contents">
				<strong class="title2">Strengthened Abilities</strong><br>
					<ul>
						<li><strong>Effectiveness, problem-solving ability, and organizing ability</strong> : It has been strengthened through the process of filming, editing, and uploading lectures.</li>
<li><strong>Inquisition</strong>: It has been strengthened through the process of thinking about how to express it.</li>
					</ul>
			</div>
			<div class="contents">
				<strong class="title1">Further Explanations</strong><br>
					<ul>
						<li><a href="http://www.youtube.com/channel/UCJH802LTybCFZF4qlAXsV2Q" target="_blank">YouTube</a></li>
					</ul>
			</div>
		</div>
	</body>
</html>